<p class="error">
  <%= flash[:error] %>
</p>
<%= form_for @post do |f| %>
  <%= f.label :titulo, "título" %>
  <%= f.text_field :titulo %>
  <%= f.text_field :texto, :id=>"texto" %>
  <%= f.label :slug, "slug" %>
  <%= f.text_field :slug %>
  <%= f.submit "salvar" %>
<% end %>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script>
$(document).ready(function(){
  $("#post_slug").blur(function(){   
    $.getJSON('/posts/validate_slug?slug='+$(this).val(), function(data) {
      if (data.slug === false) {
        $("p.error").html("Slug dublicado");
      } else {
        $("p.error").html("");
      }
    });
  });
});
</script>